{{ lookup('file', experiments_dir+'/'+experiment_name+'_network_register.yaml') }}
  network_{{ number_of_networks}}:
    chain_name: {{ chain_name }}
    number_of_nodes_exp: {{ number_nodes_exp }}

